/backend/.env
/frontend/node_modules
/backend/node_modules
/frontend/.env
/.vscode
.DS_Store
/logs
*.log
/coverage
/tests/__snapshots__/
/ dist
/build
/.idea
*.iml
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/.parcel-cache
/.next
/out
/.nuxt
/.expo
/.turbo
/.vercel
/.firebase
/.serverless
/.awsmobilejs
/.expo-shared
/.yalc
/.pnp
.pnp.js
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
